<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/testhibernate</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>  default myisam engine-->
        <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>  -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        
        <mapping class="com.hibernate.criteria.queries.Employee"/>
 
       
        
        <!-- 
        
        	<property name="hibernate.hbm2ddl.auto">create</property>
        	
        	OR
        	
        	<property name="javax.persistence.schema-generation.database.action">create</property>
        	
        	OR
        	
        	<property name="eclipselink.ddl-generation" value="create-tables"/>
        	
        	create tables
        	
        	NB : eclipselink and hibernate are JPA frameworks
        
        
         -->
        <!-- <property name="javax.persistence.schema-generation.database.action">create</property> -->
        
        
        
    </session-factory>
</hibernate-configuration>